<%- include('_header.ejs') %>

<% if(nuevo == true){ %>

<h3>Crear Nueva Reserva</h3>

<form action="/reserva" method="post">
    <label>Cliente</label>
    <select name="idCliente">
        <option value="1001">Christiam Omaña</option>
        <option value="2002">Brenda Montero</option>
        <option value="3003">Saul Montero</option>
        <option value="4004">Santiago Fronten</option>
    </select>
    <br>
    <label>Fecha</label>
    <input type="date" name="fecha" placeholder="Ingrese la fecha">
    <br>
    <label>Auto</label>
    <select name="auto">
        <option value="Tesla Modelo S">Tesla Modelo S</option>
        <option value="Ford Fiesta 1.6">Ford Fiesta 1.6</option>
        <option value="Chevrolet Tracker">Chevrolet Tracker</option>
    </select>
    <br>
    <label>Ubicación</label>
    <select name="ciudad">
        <option value="Bogota">Bogotá</option>
        <option value="Medellin">Medellín</option>
        <option value="Cali">Cali</option>
    </select>

    <br>
    <br>
    <button type="submit">Guardar</button>

</form>

<% }else{ %>
<h3>Modificar Reserva</h3>

<form action="/modificar" method="post">
    <label>Cliente</label>
    <select name="idCliente">
        <option <%= (res.idCliente == 1001)? "selected":"" %> value="1001">Christiam Omaña</option>
        <option <%= (res.idCliente == 2002)? "selected":"" %> value="2002">Brenda Montero</option>
        <option <%= (res.idCliente == 3003)? "selected":"" %>  value="3003">Saul Montero</option>
        <option <%= (res.idCliente == 4004)? "selected":"" %> value="4004">Santiago Fronten</option>
    </select>
    <br>
    <label>Fecha</label>
    <input type="date" name="fecha" placeholder="Ingrese la fecha" value="<%= res.fecha %>">
    <br>
    <label>Auto</label>
    <select name="auto">
        <option <%= (res.auto == "Tesla Modelo S")? "selected":"" %> value="Tesla Modelo S">Tesla Modelo S</option>
        <option <%= (res.auto == "Ford Fiesta 1.6")? "selected":"" %> value="Ford Fiesta 1.6">Ford Fiesta 1.6</option>
        <option <%= (res.auto == "Chevrolet Tracker")? "selected":"" %> value="Chevrolet Tracker">Chevrolet Tracker</option>
    </select>
    <br>
    <label>Ubicación</label>
    <select name="ciudad">
        <option <%= (res.ciudad == "Bogotá")? "selected":"" %> value=Bogota">Bogotá</option>
        <option <%= (res.ciudad == "Cali")? "selected":"" %> value="Medellin">Medellin</option>
        <option <%= (res.ciudad == "Medellín")? "selected":"" %> value="Cali">Cali</option>
    </select>


   <!-- <textarea name="locacion" cols="30" rows="10"><%= res.locacion %></textarea> -->
    <br>
    <br>
    <button type="submit">Guardar</button>

</form>

<% } %>

<%- include('_footer.ejs') %>